<!--<div class="book" *ngFor="let book of books"><a [routerLink]="['/viewBook']"[queryParams]={id:book._id}>{{book.title}}</a> </div>-->
<input type="text" placeholder="Search for a book ..." style="width:400px;" (input)="refreshPage($event.target.value)" >
<div *ngIf="nothingFound"><label>No book found. You can click <a  [routerLink]="['/addBook']">here</a>
  to add a new book.</label>
</div>
<div class="book" *ngFor="let book of books"><a [routerLink]="['/viewBook', book._id]" >{{book.title}}</a> </div>


<!--<input type="text" (input)="refreshPage($event.target.value)" #input [value]="searchText" />-->
  <!--<div class="book" *ngFor="let book of books"><a [routerLink]="['/viewBook', book._id]" *ngIf="input.value|pipeString : post[2].title>{{book.title}}</a> </div>-->

<!--<input type="text" [value]="message" (input)="message=$event.target.value" (keyup)="0" >-->

<!--<div class="book" *ngFor="let book of books"><a [routerLink]="['/viewBook', book._id]" *ngIf="message|filter : book.title">{{book.title}}</a> </div>-->
